<a href="https://colab.research.google.com/github/LeoTeiSil/PA_Listas_de_exercicios/blob/main/Exercicio_LISTAS_PA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercícios PA_Listas-Tuplas-Dicionarios - ALUNOS**
##Exercício 1: Manipulação de Listas

- Defina uma lista com 5 nomes de cidades.
- Adicione uma nova cidade ao final da lista.
- Remova a segunda cidade da lista.
- Imprima a lista resultante.

In [ ]:
# seu código aqui...
cidades = ["Máua", "Ribeirão Pires", "Santo André", "São Paulo", "São Bernado do Campo"]
print(cidades)
cidades.append(input("Digite uma cidade para adicionar: "))
print(cidades)
cidades.remove(input("Digite uma cidade para remover: "))
print(cidades)

['Máua', 'Ribeirão Pires', 'Santo André', 'São Paulo', 'São Bernado do Campo']
Digite uma cidade para adicionar: Rio grande
['Máua', 'Ribeirão Pires', 'Santo André', 'São Paulo', 'São Bernado do Campo', 'Rio grande']
Digite uma cidade para remover: Máua
['Ribeirão Pires', 'Santo André', 'São Paulo', 'São Bernado do Campo', 'Rio grande']

##Exercício 2: Operações com Tuplas

- Defina uma tupla com 4 cores.
- Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
- Imprima a nova tupla.

In [ ]:
# seu código aqui...
cores = ('vermelho', 'azul', 'verde', 'amarelo')
print(cores)
AddCores = cores + ('Preto', 'laranja')
print(AddCores)

('vermelho', 'azul', 'verde', 'amarelo')
('vermelho', 'azul', 'verde', 'amarelo', 'Preto', 'laranja')

##Exercício 3: Dicionários Simples

Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".
- Atualize a idade do aluno.
- Adicione uma nova chave "nota" com um valor.
- Imprima o dicionário atualizado

In [ ]:
# seu código aqui...
Aluno = {
    "Nome": "Leonardo",
    "Idade": 15,
    "Curso": "Infórmatica"
}
print(Aluno)
Aluno["Idade"] = int(input("Digite a nova idade: "))
print(Aluno)
Aluno["Nota"] = 10
print(Aluno)

{'Nome': 'Leonardo', 'Idade': 15, 'Curso': 'Infórmatica'}
Digite a nova idade: 16
{'Nome': 'Leonardo', 'Idade': 16, 'Curso': 'Infórmatica'}
{'Nome': 'Leonardo', 'Idade': 16, 'Curso': 'Infórmatica', 'Nota': 10}

##Exercício 4: Listas e Dicionários

- Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
- Adicione um novo produto à lista.
- Atualize o preço do primeiro produto na lista.
- Imprima a lista resultante.

In [ ]:
# seu código aqui...
produtos = [
    {"nome": "Camisa", "preço": 50}
]
print(produtos)

produtos.append({"nome": "Boné", "preço": 30})

produtos[0]["preço"] = 55
print(produtos)

[{'nome': 'Camisa', 'preço': 50}]
[{'nome': 'Camisa', 'preço': 55}, {'nome': 'Boné', 'preço': 30}]

##Exercício 5: Analisando uma Lista de Tuplas

- Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
- Encontre e imprima o nome da pessoa mais velha.
- Encontre e imprima a idade média das pessoas.

In [4]:
# seu código aqui...
pessoas = [
    {"nome": "Leonardo", "idade": 15},
    {"nome": "Breno", "idade": 19}
]

velha = pessoas[0]
for pessoa in pessoas:
    if pessoa["idade"] > velha["idade"]:
        velha = pessoa
print(velha)

soma_idades = 0
for pessoa in pessoas:
    soma_idades += pessoa["idade"]
media_idades = soma_idades / len(pessoas)
print(media_idades)

{'nome': 'Breno', 'idade': 19}
17.0

LISTA DE EXERCÍCIOS

## 1. Soma dos Elementos da Lista
Dada uma lista de números, calcule a soma de todos os elementos.

In [ ]:
lista = [1, 2, 3, 4, 5]
soma = 0

for numero in lista:
    soma += numero
print(soma)

15

## 2. Produto dos elementos da lista
Dada uma lista de números, calcule o produto de todos os elementos.

In [ ]:
# Seu código aqui...
lista2 = [1, 2, 3, 4, 5]

len(lista2)

5

## 3. Encontre o menor elemento
Dada uma lista de números, encontre o menor elemento.

In [ ]:
# Seu código aqui...
lista3 = [1, 2, 3, 4, 5]

min(lista3)

1

4. Encontre o maior elemento
Dada uma lista de números, encontre o maior elemento.

In [ ]:
# Seu código aqui...
lista4 = [1, 2, 3, 4, 5]

max(lista4)

5

5. Contar Ocorrências de um Elemento
Dada uma lista de números e um número alvo, conte quantas vezes o alvo aparece na lista.

In [ ]:
# Seu código aqui...
lista5 = [1, 2, 3, 4, 3, 2, 1]
alvo = 3

lista5.count(alvo)

2

## 6. Remover duplicatas
Dada uma lista de números, crie uma nova lista sem elementos duplicados.

In [ ]:
# Seu código aqui...
lista6 = [1, 2, 2, 3, 4, 4, 5]

set(lista6)

{1, 2, 3, 4, 5}

## 7. Inverter uma lista
Dada uma lista de números, inverta a ordem dos elementos.

In [ ]:
# Seu código aqui...
lista6 = [1, 2, 3, 4, 5]

lista6.reverse()
print(lista6)

[5, 4, 3, 2, 1]

## 8. Intercalar Duas Listas
Dadas duas listas de números, crie uma nova lista intercalando os elementos das duas listas.

In [ ]:
# Seu código aqui...
lista81 = [1, 3, 5]
lista82 = [2, 4, 6]

lista83 = [(lista81) + (lista82)]
print(lista83)

[[1, 3, 5, 2, 4, 6]]

## 9. Somar Elementos Correspondentes de Duas Listas
Dadas duas listas de números de mesmo tamanho, crie uma nova lista com a soma dos elementos correspondentes.

In [ ]:
# Seu código aqui...
lista91 = [1, 2, 3]
lista92 = [4, 5, 6]

lista93 = [sum(lista91) + sum(lista92)]
print(lista93)

[21]

## 10. Mover Zeros para o Fim
Dada uma lista de números, mova todos os zeros para o final da lista.

In [ ]:
# Seu código aqui...
lista10 = [0, 1, 0, 3, 12]

# usei o sort reverse para a lista ficar em ordem decrescente
lista10.sort(reverse=True)
print(lista10)

[12, 3, 1, 0, 0]

# Lista de exercícios

## 1. Soma dos Elementos da Lista
Dada uma lista de números, calcule a soma de todos os elementos.

In [ ]:
# Seu código aqui...
lista = [1, 2, 3, 4, 5]

## 2. Produto dos elementos da lista
Dada uma lista de números, calcule o produto de todos os elementos.

In [ ]:
# Seu código aqui...
lista2 = [1, 2, 3, 4, 5]

## 3. Encontre o menor elemento
Dada uma lista de números, encontre o menor elemento.

In [ ]:
# Seu código aqui...
lista3 = [1, 2, 3, 4, 5]

## 4. Encontre o maior elemento
Dada uma lista de números, encontre o maior elemento.

In [ ]:
# Seu código aqui...
lista4 = [1, 2, 3, 4, 5]

## 5. Contar Ocorrências de um Elemento
Dada uma lista de números e um número alvo, conte quantas vezes o alvo aparece na lista.

In [ ]:
# Seu código aqui...
lista5 = [1, 2, 3, 4, 3, 2, 1]

## 6. Remover duplicatas
Dada uma lista de números, crie uma nova lista sem elementos duplicados.

In [ ]:
# Seu código aqui...
lista6 = [1, 2, 2, 3, 4, 4, 5]

## 7. Inverter uma lista
Dada uma lista de números, inverta a ordem dos elementos.

In [ ]:
# Seu código aqui...
lista6 = [1, 2, 3, 4, 5]

## 8. Intercalar Duas Listas
Dadas duas listas de números, crie uma nova lista intercalando os elementos das duas listas.

In [ ]:
# Seu código aqui...
lista81 = [1, 3, 5]
lista82 = [2, 4, 6]

## 9. Somar Elementos Correspondentes de Duas Listas
Dadas duas listas de números de mesmo tamanho, crie uma nova lista com a soma dos elementos correspondentes.

In [ ]:
# Seu código aqui...
lista91 = [1, 2, 3]
lista92 = [4, 5, 6]

[[1, 2, 3, 4, 5, 6]]

## 10. Mover Zeros para o Fim
Dada uma lista de números, mova todos os zeros para o final da lista.

In [ ]:
# Seu código aqui...
lista10 = [0, 1, 0, 3, 12]